header{
    display: flex;
    width: 100%;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    // border-bottom: 1px solid rgb(30,82,113);
    .company_logo{
        width: 20%;
    }
    .header_headings{
        width: 40%;
        display: flex;
        justify-content: space-around;
      p{
        color: rgb(84,84,84);
        font-size: 16px;
        font-weight: 600;
      }
    }

    .login_button{
        width: 10%;
        button{
          background-color: rgb(61, 141, 191);
          padding: 8px 15px;
          color: white;
          font-size: 15px;
          font-weight: 600;
          border-color: rgb(61, 141, 191);
          border-radius: 6px;
        }
    }
}