.login_container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../../../../assets/Login\ bgc.jpg') no-repeat center center;
    background-size: cover;

    h2{
        padding-top: 60px;
        text-align: center;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.8);
        
    }
    .form_input_fields {
        width: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.2);
        
        form {
            margin-top: 30px;
            .email_field,
            .password {
                margin-bottom: 30px;
                
                input {
                    width: 100%;
                    font-size: 16px;
                    // padding: 10px;
                    // border-radius: 4px;
                }
                p-iconField{
                    cursor: pointer;
                }
            }

            .links{
                margin-top: 40px;
                display: flex;
                justify-content: space-between;

                .forget_password , .register_link {
                    a{
                        color: rgb(154,40,127);
                        text-decoration: underline;
                        cursor: pointer;

                        &:hover {
                            color:rgb(224, 48, 183);
                        }
                    }
                }
            }

            .submit_button{
                margin: 30px 0;
                display: flex;
                justify-content: center;
                button{
                    color: rgb(154,40,127);
                    font-weight: 600;
                    font-size: 14px;
                    letter-spacing: 1px;
                    background-color: rgba(255, 255, 255, 0.7);
                    padding: 10px 40px;
                    border: 1px solid #ccc;
                    border-radius: 8px;
                    transition: background-color 0.1s;
                    cursor: pointer;
                }
            }

            .third_party_login{
                p{
                    text-align: center;
                }

                .google_facebook_button{
                    display: flex;
                    justify-content: space-between;
                .google_button , .facebook_button{
                    button{
                        cursor: pointer;
                        color: rgb(154,40,127);
                        font-weight: 600;
                        font-size: 14px;
                        letter-spacing: 1px;
                        background-color: rgb(205,179,213);
                        padding: 10px 40px;
                        border: 1px solid #ccc;
                        border-radius: 8px;
                        transition: background-color 0.1s;
                    }
                }
                }
            }
        }
    }
}


// .login_container {
//     position: relative;
//     width: 100%;
//     height: 100vh;
//     overflow: hidden; // Ensure content doesn't overflow

//     .background_image {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background: url('../../../../assets/Log\ 2.jpg') no-repeat center center;
//         background-size: cover;
//         filter: blur(2px); /* Adjust the blur amount here */
//         opacity: 0.8; /* Adjust the opacity if needed */
//         z-index: 1;
//     }

//     h2 {
//         padding-top: 60px;
//         text-align: center;
//         font-size: 20px;
//         color: rgba(255, 255, 255, 0.8);
//         position: relative;
//         z-index: 2;
//     }

//     .form_input_fields {
//         width: 30%;
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         padding: 20px;
//         border-radius: 8px;
//         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//         background: rgba(255, 255, 255, 0.2);
//         backdrop-filter: blur(10px);
//         z-index: 2;

//         form {
//             margin-top: 30px;

//             .email_field,
//             .password {
//                 margin-bottom: 30px;

//                 input {
//                     width: 100%;
//                     font-size: 16px;
//                     padding: 10px;
//                     border-radius: 4px;
//                     border: 1px solid #ccc;
//                     background: rgba(255, 255, 255, 0.7);
//                     backdrop-filter: blur(5px);
//                 }
//             }

//             .links {
//                 margin-top: 40px;
//                 display: flex;
//                 justify-content: space-between;

//                 .forget_password,
//                 .register_link {
//                     a {
//                         color: rgb(154, 40, 127);
//                         text-decoration: underline;
//                         cursor: pointer;

//                         &:hover {
//                             color: rgb(224, 48, 183);
//                         }
//                     }
//                 }
//             }

//             .submit_button {
//                 margin: 30px 0;
//                 display: flex;
//                 justify-content: center;

//                 button {
//                     color: rgb(154, 40, 127);
//                     font-weight: 600;
//                     font-size: 14px;
//                     letter-spacing: 1px;
//                     background-color: rgba(255, 255, 255, 0.7);
//                     padding: 10px 40px;
//                     border: 1px solid #ccc;
//                     border-radius: 8px;
//                     backdrop-filter: blur(10px); /* Glass effect */
//                     transition: background-color 0.1s;
//                     cursor: pointer;
//                 }
//             }

//             .third_party_login {
//                 p {
//                     text-align: center;
//                 }

//                 .google_facebook_button {
//                     display: flex;
//                     justify-content: space-between;

//                     .google_button,
//                     .facebook_button {
//                         button {
//                             cursor: pointer;
//                             color: rgb(154, 40, 127);
//                             font-weight: 600;
//                             font-size: 14px;
//                             letter-spacing: 1px;
//                             background-color: rgba(255, 255, 255, 0.7);
//                             padding: 10px 40px;
//                             border: 1px solid #ccc;
//                             border-radius: 8px;
//                             backdrop-filter: blur(10px); /* Glass effect */
//                             transition: background-color 0.1s;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
