<div class="login_container">
    <h2>LOGIN FORM</h2>
    <div class="form_input_fields">
        <form>
            <div class="email_field">
                <p-iconField iconPosition="right">
                    <p-inputIcon styleClass="pi pi-envelope" />
                    <input type="text" pInputText placeholder="Email" />
                </p-iconField>
            </div>
            <div class="password">
                    <p-iconField iconPosition="right">
                        <p-inputIcon [styleClass]="passwordFieldType === 'password' ?  'pi pi-eye-slash' : 'pi pi-eye'" 
                                     (click)="togglePasswordVisibility()" />
                        <input [type]="passwordFieldType" pInputText placeholder="Password" />
                    </p-iconField>
            </div>

            <div class="links">
                 <div class="forget_password">
                    <a>Forget Password</a>
                 </div>
                 <div class="register_link">
                    <a href="/register/register">Need Registration</a>
                 </div>
            </div>

            <div class="submit_button">
                <button>SIGN IN</button>
            </div>

            <div class="third_party_login">
                <p>-- OR SIGN IN WITH --</p>

                <div class="google_facebook_button">
                    <div class="google_button">
                       <button>Google</button>
                    </div>

                    <div class="facebook_button">
                        <button>Facebook</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



 <!-- <div class="login_container">
    <div class="background_image"></div>
    <h2>Login Form</h2>
    <div class="form_input_fields">
        <form>
            <div class="email_field">
                <input type="text" pInputText placeholder="Email" />
            </div>
            <div class="password">
                <input type="text" pInputText placeholder="Password" />
            </div>

            <div class="links">
                <div class="forget_password">
                    <a>Forget Password</a>
                </div>
                <div class="register_link">
                    <a>Need Registration</a>
                </div>
            </div>

            <div class="submit_button">
                <button>SIGN IN</button>
            </div>

            <div class="third_party_login">
                <p>-- OR SIGN IN WITH --</p>

                <div class="google_facebook_button">
                    <div class="google_button">
                        <button>Google</button>
                    </div>

                    <div class="facebook_button">
                        <button>Facebook</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> -->
